<!-- ======= Main Section ======= -->
<section class="main-section" id="main">

    <div class="wave">

        <svg width="100%" height="355px" viewBox="0 0 1920 355" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
                    <path
                        d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,757 L1017.15166,757 L0,757 L0,439.134243 Z"
                        id="Path"></path>
                </g>
            </g>
        </svg>

    </div>

    <div class="container">
        <div class="row row3 align-items-center justify-content-center">
            <div class="table-wrapper">
                <div class="form-group mb-2">
                    <select class="form-control" id="role" (change)="selectChangeHandler($event)">
                        <option value="">All Users</option>
                        <option value="student">Students</option>
                        <option value="teacher">Teachers</option>
                        <option value="admin">Admins</option>
                    </select>
                </div>
                <table class="table grades-table" style="color: white; width: 1100px;">
                    <thead>
                        <tr>
                            <th scope="col ">ID</th>
                            <th scope="col ">Name</th>
                            <th scope="col ">Email</th>
                            <th scope="col ">Type</th>
                        </tr>
                    </thead>
                    <tbody *ngFor='let user of usersdata'>
                        <tr>
                            <th scope="row " (on)="closClickedUser()"><a (mouseover)="openClickedUser(user._id)"
                                    [routerLink]="['/user/profile']">{{user._id}}</a>
                            </th>
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.role}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <br>
            <div class="manage-btns">
                <button type="button" class="attend-btn courseInfo-btn btn-success hvr-rectangle-in"
                    routerLink='/user/add-user' value="students-sheet">Add User
                </button>
                <button type="button" class="attend-btn courseInfo-btn hvr-rectangle-in" routerLink='/user/update-user'
                    value="students-sheet">Update User
                </button>
                <button type="button" class="attend-btn courseInfo-btn btn-danger hvr-rectangle-in"
                    routerLink='/user/delete-user' value="students-sheet">Delete User
                </button>
            </div>
        </div>


    </div>


</section>