<!-- ======= Main Section ======= -->
<section class="main-section" id="main">

    <div class="wave">
        <svg width="100%" height="355px" viewBox="0 0 1920 355" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
                    <path
                        d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,757 L1017.15166,757 L0,757 L0,439.134243 Z"
                        id="Path"></path>
                </g>
            </g>
        </svg>
    </div>

    <div class="container">
        <div class="row row2 align-items-center">
            <div class="col-md-3 logo-wrap sa">
                <img src="../assets/img/sa.png" alt="Image" class="sa-logo" data-aos="fade-right">
            </div>

            <div class="col-md-9 addUser" data-aos="fade-left">

                <!-- Course Grade -->
                <div class="tab-pane fade show" id="courseGrade" role="tabpanel" aria-labelledby="courseGrade-tab">
                    <h3 class="addUser-heading">Delete Task</h3>
                    <div class="row addUser-form">
                        <div class="col-md-12">
                            <div class="form-group" *ngIf="coursesemesterdata">
                                <select class="form-control" name="gradeType" required id="gradeType"
                                    (change)="selectChangeHandler($event)">
                                    <option value="" disabled selected hidden>Task Name *</option>
                                    <option *ngFor="let tasks of coursesemesterdata.tasks">{{tasks.type}}</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block btn-lg" (click)="DeleteTask()">Delete
                                Task</button>
                        </div>
                    </div>
                    <div id="responsediv">
                        <div class="alert alert-primary d-none" role="alert" id="response"></div>
                        <div class="alert alert-danger d-none" role="alert" id="error"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</section>