<section class="main-section" id="main" style="height: 1200px!important;">

    <div class="wave">

        <svg width="100%" height="355px" viewBox="0 0 1920 355" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
                    <path
                        d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,757 L1017.15166,757 L0,757 L0,439.134243 Z"
                        id="Path"></path>
                </g>
            </g>
        </svg>

    </div>

    <div class="container">
        <div class="row row2 align-items-center">
            <div class="col-lg-7 text-center text-lg-left" *ngIf="coursesdata" style="margin-top: 200px;">
                <h1 data-aos="fade-right">{{coursesdata.courseName}}</h1>
                <div class="mb-5" data-aos="fade-right" data-aos-delay="100">
                    <table>
                        <tr>
                            <td>
                                <p style="font-weight: bold;">Course Code:</p>
                            </td>
                            <td>
                                <p>{{coursesdata.courseCode}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-weight: bold;">Department:</p>
                            </td>
                            <td>
                                <p>{{coursesdata.courseDepartment}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-weight: bold;">Credit Hours:</p>
                            </td>
                            <td>
                                <p>{{coursesdata.creaditHours}}</p>
                            </td>
                        </tr>
                        <tr *ngIf="numberofusers">
                            <td>
                                <p style="font-weight: bold;">Number Of Students:</p>
                            </td>
                            <td>
                                <p>{{numberofusers}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-weight: bold;">Course Grades</p>
                            </td>
                            <td>
                                <table class="table" style="color: white;">
                                    <thead>
                                        <tr>
                                            <th scope="col" *ngFor='let grade of coursesdata.grades'>{{grade.type}}</th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td *ngFor='let grade of coursesdata.grades'>{{grade.grade}}</td>

                                    </tr>
                                </table>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>

            <div class="col-lg-5 logo-wrap" data-aos="fade-left">
                <table class="doctor-info">
                    <tr>
                        <td colspan="2">
                            <img src="../assets/img/Avatar.png" alt="Image">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="font-weight: bold;">Professor:</p>
                        </td>
                        <td>
                            <p>Marwa Salah</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="font-weight: bold;">Email:</p>
                        </td>
                        <td>
                            <p>marwa123@gmail.com</p>
                        </td>
                    </tr>
                </table>
            </div>
            <button type="button" class="attend-btn courseInfo-btn btn-dark hvr-rectangle-in" *ngIf="isTeacher"
                [routerLink]="['/course/students-sheet']" value="students-sheet">Students
                Sheet
            </button>
            <button type="button" class="attend-btn courseInfo-btn btn-success hvr-rectangle-in" *ngIf="isTeacher"
                [routerLink]="['/course/add-course-grade']" value="students-sheet">Add Course Grades
            </button>
            <button type="button" class="attend-btn courseInfo-btn btn-danger hvr-rectangle-in" *ngIf="isTeacher"
                [routerLink]="['/course/delete-course-grade']" value="students-sheet">Delete Course Grades
            </button>
        </div>
    </div>


</section>